target
.project
.settings
.classpath
*.ipr
*.iws
*.iml
.idea
.factorypath
logback.groovy
.DS_Store
*~
**/logback.xml
services.json
dependency-reduced-pom.xml
*.properties
*.yaml
*.yml
!tools/etl/*
*.pyc
rebel.xml
hazelcast.xml
hazelcast-client.xml
*.fuse_hidden*
.metadata
rebel-*